.outer{
    background-color: aqua;
    height: 500px;
    width: 500px;
}
.inner {
    background-color: brown;
    height: 50%;
    width: 50%;
    transition: transform 2s cubic-bezier(0.2, 0.9, 0.32, 1.28);
}
.outer:hover .inner{
    border-radius: 10%;
    animation: left-to-right 1s  cubic-bezier(0.2, 0.9, 0.32, 1.28) forwards;
}

@keyframes left-to-right{
    100%{
        transform : translateX(100%);

    }
}